body{background-color: moccasin;}

h1 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-style: bold; text-align: center; text-shadow: 0ch; font-size: xx-large;}

p {text-align: center;}


/*Klassen*/
.button {
    background-color: salmon;
    border: 1px;
    border-color: darksalmon;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.text-center {
    text-align: center;
}