body{background-color: rgb(241, 187, 136);}

h1 {font-family: "Vollkorn", serif; 
    text-align: center; 
    font-size: 90px;
}

p {text-align: center;
    font-family: "Vollkorn";
    font-size: x-large;
}


/*Klassen*/
.button {
    background-color: rgb(82, 54, 35);
    border: 3px;
    border-color: rgb(126, 115, 111);
    color: white;
    padding: 15px 32px;
    font-family: 'Vollkorn', Times, serif;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 6px;
}

.text-center {
    text-align: center;
}

.vollkorn {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 2px;
    font-style: normal;
  }