body{background-color: rgb(204, 187, 157);}

h1 {font-family: 'Times New Roman', Times, serif; 
    font-style: bold; 
    text-align: center; 
    text-shadow: 0ch; 
    font-size: xx-large;
}

p {text-align: center;}


/*Klassen*/
.button {
    background-color: rgb(82, 52, 49);
    border: 3px;
    border-color: rgb(126, 115, 111);
    color: white;
    padding: 15px 32px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.text-center {
    text-align: center;
}